body {
    text-align: center;
    background-image: url(backgroundimage.jpg);
    /*border: 5px solid rgb(251, 255, 0);*/
    

}
form {
    color: rgb(255, 255, 255);
}

h2{
    background: rgba(0, 255, 0, 0.4);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

