/*selector {
    Property: value;
}*/
/** {
    text-align: right;
}*/

header{
    border: 5px solid rgba(255, 224, 45, 0.548);
    background: #a0468263;
    font-family: 'Courier New', Courier, monospace;
    
}

h2 + p {
    color: #050204;
    text-align: center;
    border: 5px solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}
p {
    line-height: 50px;
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace ;

}
body{
    text-align: center;
    background-image: url(backgroundimage.jpg);;
    background-size: auto;
    color: aliceblue;
}
li {
    list-style: none;
    display: inline-block;
}

.webtext first-child {
    border: 5px solid white;
} 

.active {
    color: rgb(174, 243, 255);
}

#div1 {
    background: rgba(0, 255, 0, 0.4);
}

#div2 {
    background: rgba(201, 152, 20, 0.4);;
}