/*selector {
    Property: value;
}*/
/** {
    text-align: right;
}*/


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5c7e9e;
    flex-direction: column;
    gap: 30px;

}


header{
    border: 5px solid #ffe02d8c;
    background: hsla(320, 39%, 45%, 0.388);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: azure;

}

h2{
    font-family: 'Courier New', Courier, monospace;
    background: #050204;
}

h2 + p {
    color: #050204;
    text-align: center;
    border: 5px solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}
p {
    line-height: 50px;
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace ;

}
body{
    text-align: center;
    background-image: url(backgroundimage.jpg);
    background-size: auto;
    color: aliceblue;
}
li {
    list-style: none;
    display: inline-block;
}

.webtext first-child {
    border: 5px solid white;
} 

.active {
    color: rgb(174, 243, 255);
}

#div1 {
    background: rgba(0, 255, 0, 0.4);
}

#div2 {
    background: rgba(201, 152, 20, 0.4);;
}



