/*selector {
    Property: value;
}*/
/** {
    text-align: right;
}*/

h2 + p:hover {
    color: #050204;
    text-align: center;
    border: 5px solid;
    border-color: rgba(163, 76, 120, 0.3);
    cursor: pointer;
}
p {
    color: black ;
    background-color: #AFD9AF;
}
body{
    text-align: center;
    background-image: url(backgroundimage.jpg);
    background-size: auto;
    color: aliceblue;
}
li {
    list-style: none;
    display: inline-block;
}

.webtext: : first-child {
    border: 5px solid white;
} 

.active {
    color: red;
}

#div1 {
    background: rgba(0, 255, 0, 0.4);
}

#div2 {
    background: blue;
}